<!-- ScholarlyArticle JSON-LD for high-impact publications -->
<script type="application/ld+json">
[
  {
    "@context": "https://schema.org",
    "@type": "ScholarlyArticle",
    "headline": "Hard truths about under-5 mortality: call for urgent global action",
    "author": [
      {"@type": "Person", "name": "João Pedro Azevedo", "@id": "{{ site.url }}/#person"},
      {"@type": "Person", "name": "Abhishek Banerjee"},
      {"@type": "Person", "name": "John Wilmoth"},
      {"@type": "Person", "name": "Haidong Fu"},
      {"@type": "Person", "name": "Danzhen You"}
    ],
    "datePublished": "2024",
    "publisher": {"@type": "Organization", "name": "Elsevier"},
    "isPartOf": {"@type": "Periodical", "name": "The Lancet"},
    "url": "https://doi.org/10.1016/S0140-6736(24)00501-4",
    "sameAs": "https://doi.org/10.1016/S0140-6736(24)00501-4"
  },
  {
    "@context": "https://schema.org",
    "@type": "ScholarlyArticle",
    "headline": "Simulating the Potential Impacts of COVID-19 School Closures on Schooling and Learning Outcomes: A Set of Global Estimates",
    "author": [
      {"@type": "Person", "name": "João Pedro Azevedo", "@id": "{{ site.url }}/#person"},
      {"@type": "Person", "name": "Amer Hasan"},
      {"@type": "Person", "name": "Diana Goldemberg"},
      {"@type": "Person", "name": "Koen Geven"},
      {"@type": "Person", "name": "Syedah Aroob Iqbal"}
    ],
    "datePublished": "2021",
    "publisher": {"@type": "Organization", "name": "Oxford University Press"},
    "isPartOf": {"@type": "Periodical", "name": "The World Bank Research Observer"},
    "url": "https://academic.oup.com/wbro/article/36/1/1/6174606",
    "sameAs": "https://doi.org/10.1093/wbro/lkab003",
    "pagination": "36(1), 1-40"
  },
  {
    "@context": "https://schema.org",
    "@type": "ScholarlyArticle",
    "headline": "A New Profile of the Global Poor",
    "author": [
      {"@type": "Person", "name": "Andrés Castañeda"},
      {"@type": "Person", "name": "Dung Doan"},
      {"@type": "Person", "name": "David Newhouse"},
      {"@type": "Person", "name": "Minh Cong Nguyen"},
      {"@type": "Person", "name": "Hiroki Uematsu"},
      {"@type": "Person", "name": "João Pedro Azevedo", "@id": "{{ site.url }}/#person"}
    ],
    "datePublished": "2018",
    "publisher": {"@type": "Organization", "name": "Elsevier"},
    "isPartOf": {"@type": "Periodical", "name": "World Development"},
    "url": "https://doi.org/10.1016/j.worlddev.2017.08.002",
    "sameAs": "https://doi.org/10.1016/j.worlddev.2017.08.002",
    "pagination": "101, 250-267"
  },
  {
    "@context": "https://schema.org",
    "@type": "ScholarlyArticle",
    "headline": "Weather Shocks and Health at Birth in Colombia",
    "author": [
      {"@type": "Person", "name": "Mabel Andalón"},
      {"@type": "Person", "name": "João Pedro Azevedo", "@id": "{{ site.url }}/#person"},
      {"@type": "Person", "name": "Carlos Rodríguez-Castelán"},
      {"@type": "Person", "name": "Viviane Sanfelice"},
      {"@type": "Person", "name": "Daniel Valderrama-González"}
    ],
    "datePublished": "2016",
    "publisher": {"@type": "Organization", "name": "Elsevier"},
    "isPartOf": {"@type": "Periodical", "name": "World Development"},
    "url": "https://doi.org/10.1016/j.worlddev.2016.01.015",
    "sameAs": "https://doi.org/10.1016/j.worlddev.2016.01.015",
    "pagination": "82, 69-82"
  }
]
</script>
